<head>
    <meta charset=”utf-8″/>
</head>
<div id="form1">
    
<form [formGroup]="checkoutForm" (ngSubmit)="saveCard()" ngNativeValidate>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">X</a>

    <div class="p-fluid grid" style="display: flex; flex-direction: column;">
        <div class="field col-12 md:col-4">
            <span class="p-float-label" style="margin: 20px">
                <input type="text" id="inputtext" pInputText formControlName="name" [(ngModel)]="name"> 
                <label for="inputtext">Karta</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label"  style="margin: 20px">
            
                <input type="number" id="inputtext-left" pInputText formControlName="amount" [(ngModel)]="amount"> 
                <label for="inputtext-left">Saldo</label>
            </span>
        </div>
    </div>

    <!-- <p>Nazwa karty</p>
    <input type="text" placeholder="Karta" formControlName="name" pInputText required>
    <br> <br>
    <p>Saldo</p>
    <input type="number" placeholder="0$" formControlName="amount" pInputText required> -->
    <br> <br>
    <button pButton type="submit">Przeslij karte</button>
    <br> <br>

</form>
</div>